<?xml version="1.0" encoding="UTF-8"?>
<suite name="MyTestSuite">
    <test name="Test1">
    <parameter name="url" value="https://login.yahoo.com/"/>
		<parameter name="email" value="test@yahoo.com"/>

        <classes>
            <class name="TestNgSessions.TestNgAnnotationsTest"/>
        </classes>
    </test>
</suite>